/* general layout + typography */

html {
    font-family: "open_sanslight";
    font-size: 16px;
    color: #ffffff;
}

body {
    background-color: black;
    display: flex;
    flex-flow: column wrap;
}

/* header */
.nyt-logo {
    display: flex;
    margin: 105px auto 0px auto;
    /* transition: .5s; */
}

.category-selection {
    display: flex;
    flex-flow: column nowrap;
    margin: 18px auto 110px auto;
}
.section-prompt {
    font-size: 0.8rem;
    margin: 0 auto;
}
.dropdown-button{
    background-color: white;
    color: black;
    margin: 15px auto;
    font-size: 1.1rem;
}

.dropdown-button:focus{
    outline: none;
}

.dropdown-menu{}

.menu-item{}

/* news bricks */
.news-span {
    display: flex;
    flex-flow: row wrap;
    /* margin: 0px; */
    width: 100%;
}

.bg-img{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 50%;
    height: 420px;
    align-content: flex-end;
    background-size: cover;
    background-position:center;
}

.article-text{
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    padding: 10px 5px;
} 
.article-abstract{
    display: none;
}
.show{
    display: inline-block;
}

/* footer */
.footer{
    font-size: 0.9rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #c2c2c2;
}

.copyright span {
    text-transform: uppercase;
}

/* breakpoint1: min-width 600px */

@media all and (min-width: 600px) {
    /* header */
    header {
        display: flex;
        flex-direction: row;
    }
    .nyt-logo {
        display: flex;
        margin: 160px 0;
        margin-left: 22%;
        padding-right: 15px;
        width: 23vw;
        max-width: 220px;
    }
    .category-selection {
        display: flex;
        flex-flow: column nowrap;
        margin: 230px 0;    
    }
    .section-prompt {
        font-size: 0.9rem;
        margin: 0 auto;
    }
}

@media all and (min-width: 1000px){
    /* header */
    header {
        display: flex;
        flex-direction: row;
    }
    .nyt-logo {
        display: flex;
        margin: 150px 10px 30px 30px;
        padding-right: 5%;
        width: 220px;
        height: 220px;
    }
    .category-selection {
        display: flex;
        flex-flow: column nowrap;
        margin: 225px 0 50px 0; 
        text-align: left;   
    }
    .section-prompt {
        font-size: 1rem;
        margin: 0 auto;
    }
    .dropdown-button{
        margin: 15px 0;
    }
    .bg-img{
        /* display: flex;
        flex-flow: row wrap; */
        flex-basis: 25%;
    }
    /* footer */
    .footer{
        display: inline-block;
        padding-top: 105px;
        margin: 20px 35px;
        text-align: left;
        color: #c2c2c2;
    }
}