/* general layout + typography */

/* * {
    transition: .5s;
} */

html {
    font-family: "open_sanslight";
    font-size: 16px;
    color: #ffffff;
}

body {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
}

/* header */
.nyt-logo {
    display: flex;
    margin: 105px auto 0px auto;
    transition: .5s;
}

.category-selection {
    display: flex;
    flex-flow: column nowrap;
    margin: 18px auto 110px auto;

}
.section-prompt {
    font-size: 0.8rem;
    margin: 0 auto;
}
.dropdown-button{
    background-color: white;
    color: black;
    margin: 15px auto;
    font-size: 1.1rem;
}

.dropdown-button:focus{
    outline: none;
}

.dropdown-menu{}

.menu-item{}

/* news bricks */

/* footer */
.copyright{
    font-size: 0.9rem;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #c2c2c2;
}

@media all and (min-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
    }
    .nyt-logo {
        display: flex;
        margin: 150px 0;
        margin-left: 20%;
        padding-right: 15px;
        width: 23vw;
        max-width: 220px;
    }
    .category-selection {
        display: flex;
        flex-flow: column nowrap;
        margin: 220px 0;    
    }
    .section-prompt {
        font-size: 0.9rem;
        margin: 0 auto;
    }
}

@media all and (min-width: 1000px){}