.footer {
  font-size: 0.9rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: $color-footer;
  padding: 2rem;
  @include desktop {
    display: inline-block;
    margin: 20px 35px;
    text-align: left;
    padding: 1rem;
  }
  .copyright span {
    text-transform: uppercase;
  }
}
