.header {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem;
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  .nyt-logo {
    margin: 85px auto 20px;
    transition: 0.5s;
    &.change {
      width: 150px;
      margin: 0 auto 10px;
    }

    @include tablet {
      margin: 0 0 0 20%;
      padding-right: 15px;
      width: 23vw;
      max-width: 220px;
      &.change {
        height: 65px;
        margin: 0 0 0 40px;
      }
    }
    @include desktop {
      margin: 140px 0 30px 0;
      padding-right: 5%;
      width: 220px;
      height: 220px;
      &.change {
        width: 65px;
        margin: 0;
      }
    }
  }
  .category-selection {
    margin: 0 auto;
    align-content: center;
    @include tablet {
      margin: 200px 0 170px;
      &.change {
        margin: 0 0 0 20px;
      }
    }
    @include desktop {
      margin: 225px 0 50px 0;
      text-align: left;
    }
    .section-prompt {
      font-size: 0.8rem;
      margin-bottom: 10px;

      @include tablet {
        font-size: 0.9rem;
      }
      @include desktop {
        font-size: 1rem;
        margin: 0 auto 10px;
      }
    }
    .dropdown-button {
      &:focus {
        outline: none;
      }
      background-color: white;
      color: black;
      margin: 15px auto;
      font-size: 1.1rem;
      @include desktop {
        margin: 0 auto;
      }
    }
  }
  .loader-gif {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
