.news-span {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  // transition: 2s;
  .bg-img {
    height: 420px;
    align-content: flex-end;
    background-size: cover;
    background-position: center;
    flex-basis: 100%;
    text-decoration: none;
    color: $color;
    display: flex;
    flex-flow: row wrap;
    transition: 0.5s;
    overflow: hidden;
    align-content: flex-end;
    @include tablet {
      flex-basis: 50%;
    }
    @include desktop {
      flex-basis: 25%;
    }

    .article-text {
      transform: translateY(45%);
      transition: 0.5s linear;
      padding-right: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      background-size: cover;
      width: 100%;

      &:hover {
        transform: translateY(0);
      }
      .article-title {
        padding: 10px;
        line-height: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        height: 60px;
      }
    }
  }
  &:hover {
    .article-abstract {
      // background-color: rgba(0, 0, 0, 0.5);
      // background-size: cover;
      padding: 10px 5px;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1rem;
      align-items: flex-start;
    }
  }
}
