.news-span {
  display: flex;
  flex-flow: row wrap;
  /* margin: 0px; */
  width: 100%;
  .bg-img {
    height: 420px;
    align-content: flex-end;
    background-size: cover;
    background-position: center;
    flex-basis: 50%;
    text-decoration: none;
    color: $color;
    display: flex;
    flex-flow: row wrap;
    @include desktop {
      flex-basis: 25%;
    }
    align-content: flex-end;

    .article-title {
      background-color: rgba(0, 0, 0, 0.5);
      background-size: cover;
      padding: 10px 5px;
      line-height: 1.5rem;
      font-weight: bold;
      display: flex;
      align-content: flex-end;
    }
    .article-abstract {
      display: none;
    }
    &:hover {
      .article-abstract {
        display: block;
        @extend .article-title;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1rem;
      }
    }
  }
}
